<div class="slider-section">
	<div class="slider-title">Nos nouvelles machines</div>
	<div class="slider-subtitle">
		Découvrez les toutes dernières arrivées dans notre salle ! Des équipements modernes et performants pour améliorer vos entraînements.
	</div>

	<div class="slider-wrapper">
		<button class="nav-button left">&#10094;</button>

		<div class="slider-container">
			<div class="slider">
				<div class="slide active">
					<img src="/images/section3/machine1.jpg" alt="Nouvelle machine 1">
					<p>Chest press inclinée</p>
				</div>
				<div class="slide">
					<img src="/images/section3/machine2.jpg" alt="Nouvelle machine 2">
					<p>Poulie vis à vis</p>
				</div>
				<div class="slide">
					<img src="/images/section3/machine3.jpg" alt="Nouvelle machine 3">
					<p>Cross-over 4 postes</p>
				</div>
				<div class="slide">
					<img src="/images/section3/machine4.jpg" alt="Nouvelle machine 4">
					<p>Hip thrust machine</p>
				</div>
				<div class="slide">
					<img src="/images/section3/machine5.jpg" alt="Nouvelle machine 5">
					<p>Banc inclinable</p>
				</div>
			</div>
		</div>

		<button class="nav-button right">&#10095;</button>
	</div>
</div>


 <script src="{{ asset('js/accueil/section3/section3.js') }}" defer></script>
