{% extends 'base.html.twig' %}

{% block title %}Mentions légales - CHM Saleux
{% endblock %}

{% block body %}
	<section class="section bg-dark text-light" style="padding:3rem 5%;">
		<div class="container" style="max-width:800px; margin:auto;">
			<h1>Mentions légales</h1>
			<p>Conformément aux dispositions légales, nous vous informons :</p>

			<h2>Éditeur du site</h2>
			<p>
				Nom de l'entreprise : CHM Saleux<br>
				Adresse : 8 rue Marx Dormoy, 80480 Saleux<br>
				Téléphone : 03 22 89 72 57<br>
				Email : contact@chmsaleux.fr<br>
				Responsable de la publication : [Nom du responsable]
			</p>

			<h2>Hébergement</h2>
			<p>
				Nom de l’hébergeur : [Nom de l’hébergeur]<br>
				Adresse : [Adresse de l’hébergeur]<br>
				Téléphone : [Téléphone de l’hébergeur]<br>
				Site web : [Lien hébergeur]
			</p>

			<h2>Propriété intellectuelle</h2>
			<p>
				L'ensemble du contenu de ce site (textes, images, logos, vidéos, etc.) est protégé par le droit d'auteur. Toute reproduction totale ou partielle est interdite sans autorisation écrite.
			</p>
		</div>
	</section>
{% endblock %}
