<section class="social-section">
	<div class="container">
		<h2>Rejoignez-nous sur les Réseaux Sociaux</h2>
		<p>Restez connecté avec notre salle d’haltérophilie, découvrez nos événements, conseils et moments forts.</p>
		<div class="social-links">
			<a href="https://instagram.com/chmsaleux" target="_blank" class="instagram">
				<i class="fa-brands fa-instagram"></i>
				Instagram
			</a>
			<a href="https://facebook.com/chmsaleux1" target="_blank" class="facebook">
				<i class="fa-brands fa-facebook"></i>
				Facebook
			</a>
			<a href="#" target="_blank" class="tiktok">
				<i class="fa-brands fa-tiktok"></i>
				TikTok
			</a>
		</div>
	</div>
</section>
