{% extends 'base.html.twig' %}

{% block title %}Définitions Haltérophilie
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/halterophilie/definitions/definitions.css') }}">
{% endblock %}

{% block body %}

	<!-- Hero Header -->
	<header class="hero-header">
		<div class="hero-content">
			<h1>Découvre l'Haltérophilie</h1>
			<p>Force, puissance et discipline : une passion olympique ouverte à tous.</p>
			<a href="#pourquoi" class="cta-button">Explorer</a>
		</div>
	</header>

	<!-- CONTENU PRINCIPAL -->
	<main>
		<section id="pourquoi" class="section">
			<div class="section-content">
				<h2>Pourquoi pratiquer l'haltérophilie ?</h2>
				<p>L’haltérophilie est un sport olympique fondé sur deux mouvements essentiels : l’arraché et l’épaulé-jeté. Pratiquée régulièrement, elle améliore les qualités physiques telles que la puissance explosive, cruciale dans de nombreux sports comme le rugby, le football ou le basketball.</p>
				<p>Elle contribue également à développer la vitesse, l’agilité et la capacité de saut, tout en renforçant l’ensemble de la musculature pour une force globale du corps. Au-delà de l’aspect physique, l’haltérophilie forge la discipline mentale, la concentration et la persévérance. Atteindre ses objectifs de charges soulignera rapidement vos progrès, renforçant la confiance en soi et l’estime personnelle.</p>
			</div>
			<div class="section-image">
				<img src="https://www.ffhaltero.fr/wp-content/uploads/2024/08/IMS0002-scaled.jpg" alt="Haltérophile">
			</div>
		</section>

		<section id="bienfaits" class="section">
			<div class="section-image">
				<img src="https://www.ffhaltero.fr/wp-content/uploads/2024/08/IMS4771-scaled.jpg" alt="Bienfaits">
			</div>
			<div class="section-content">
				<h2>Les bienfaits de l'haltérophilie</h2>
				<p>L’haltérophilie favorise l’augmentation de la masse musculaire, car soulever des charges sollicite constamment les muscles et stimule leur hypertrophie. Pratiquée régulièrement, elle contribue à renforcer la densité osseuse, un atout majeur pour prévenir l’ostéoporose. Elle enseigne également les bonnes postures, les techniques de levage et de manutention, tout en tonifiant le dos et l’ensemble du corps.
				</p>
				<p>Les mouvements complexes, tels que l’arraché ou l’épaulé-jeté, améliorent la coordination, l’équilibre et la mobilité, tout en préservant la souplesse. Comme toute activité physique intense, l’haltérophilie stimule la production d’endorphines, réduisant le stress et favorisant une meilleure humeur.</p>
			</div>
		</section>

		<section id="public" class="section">
			<div class="section-content">
				<h2>À qui s'adresse l'haltérophilie ?</h2>
				<p>L’haltérophilie s’adresse à un public très large et peut se pratiquer dès l’âge de 7-8 ans, sous encadrement adapté pour apprendre correctement les techniques. À ce stade, l’accent est mis sur la précision et la sécurité, plutôt que sur la charge.</p>
				<p>Adolescents et adultes y trouvent un moyen efficace de développer force et masse musculaire, ou d’améliorer leurs performances dans d’autres sports. La discipline est mixte : les femmes participent aux compétitions depuis 1987.
				</p>
				<p>
					Même les personnes âgées peuvent en bénéficier grâce à des charges adaptées, favorisant le maintien de la masse musculaire, de la densité osseuse et de la mobilité, tout en réduisant les risques de chute. Avec un encadrement professionnel, l’haltérophilie est une discipline accessible, sûre et extrêmement bénéfique pour tous.</p>
			</div>
			<div class="section-image">
				<img src="https://www.ffhaltero.fr/wp-content/uploads/2024/08/KOCHETOVA-MARGOT_FRA_W49A__IMS7633-scaled.jpg" alt="Public">
			</div>
		</section>

		<section id="mouvements" class="section">
			<div class="section-image">
				<img src="https://www.ffhaltero.fr/wp-content/uploads/2024/08/Design-sans-titre-32.png" alt="Mouvements">
			</div>
			<div class="section-content">
				<h2>Les mouvements</h2>
				<p>L’haltérophilie est un exercice qui demande force, souplesse et dynamisme. Ce sport se décompose en deux mouvements qui sont respectivement :
					<b>L’ARRACHÉ
					</b>
					(La barre est placée horizontalement devant les jambes de l’athlète. Celui-ci doit l’agripper, les mains en pronation et la tirer d’un seul mouvement, du plateau jusqu’au bout des bras tendus au-dessus de la tête. Le mouvement s’effectue, soit en fléchissant ou en fendant les jambes. La barre doit longer le corps d’un mouvement ininterrompu, sans qu’aucune autre partie que les pieds touche le plateau. Le poids soulevé doit être maintenu immobile, bras et jambes tendus, pieds alignés, jusqu’au signal de replacer la barre sur le plateau. Le retournement des poignets ne doit s’effectuer que lorsque la barre a dépassé la tête de l’athlète. L’athlète se redresse aussitôt qu’il le peut, en plaçant les pieds perpendiculairement au tronc et à l’haltère. Le signal doit être donné aussitôt que l’athlète est immobile de toutes les parties de son corps.) et
					<b>l'Épaulé-jeté</b>
					(L’épaulé-jeté se décompose en deux temps :
																																																																																																																																																																																																																		
																																																																																																																																																																																																																		D’abord avec l’épaulé : la barre est placée horizontalement devant les jambes de l’athlète. L’athlète soulève la barre jusqu’aux épaules. Ce mouvement s’effectue soit en fléchissant ou en soit fendant les jambes.
																																																																																																																																																																																																																		Ensuite avec le jeté : la barre repose sur les épaules de l’athlète. Celui-ci effectue une légère flexion des jambes et une poussée simultanée des bras pour amener la barre à bout de bras. Le poids soulevé doit être maintenu immobile, bras et jambes tendus, pieds alignés, jusqu’au signal de replacer la barre sur le plateau.).</p>
			</div>
		</section>

		<section class="video-section">
			<div>
				<h2>Présentation vidéo</h2>
				<p>Découvrez l'haltérophilie en images</p>
			</div>
			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3gFWC6f8AjQ?si=SIt6J-OmMRdfRRJh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</section>
	</main>
{% endblock %}
