<section class="partners-section">
	<div class="partners-header">
		<h2>ILS NOUS ACCOMPAGNENT</h2>

	</div>

	<div
		class="partners-line">
		<!-- FFHMFAC -->
		<div class="partner">
			<img src="/images/sponsors/FFHMFAC.png" alt="FFHMFAC">
		</div>

		<div class="separator"></div>

		<!-- Conseil départemental -->
		<div class="partner">
			<img src="/images/sponsors/logo-conseil-departemental-somme.png" alt="Conseil départemental de la Somme">
		</div>

		<div class="separator"></div>

		<!-- Région Hauts-de-France -->
		<div class="partner">
			<img src="/images/sponsors/logo-hdf.png" alt="Région Hauts-de-France">
		</div>

		<div class="separator"></div>

		<!-- Amiens Métropole -->
		<div class="partner">
			<img src="/images/sponsors/logo-vectoriel-amiens-metropole.png" alt="Amiens Métropole">
		</div>

		<div class="separator"></div>

		<!-- Legué -->
		<div class="partner">
			<img src="/images/sponsors/Logo-legue-chauffage.png" alt="Legué">
		</div>
	</div>

	<div class="become-sponsor">
		<p>Vous souhaitez soutenir notre club ?</p>
	<div class="button-wrap">
    <a href="/contact" class="btn-club btn-sponsor-glass">
            <span> 🤝 DEVENIR PARTENAIRE</span>
    </a>
    <div class="button-shadow"></div>
</div>

	</div>
</section>
